body {
  /* font-family: "Open Sans"; */
  /* https://coolors.co/palettes/trending */

  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  white-space: pre-wrap;
  text-align: center;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  position: fixed;
  width: 50%;
  height: 50%;
}

#NW {
  top: 0;
  left: 0;
  background: #d8e2dc;
}
#NE {
  top: 0;
  left: 50%;
  background: #ffe5d9;
}
#SW {
  top: 50%;
  left: 0;
  background: #ffcad4;
}
#SE {
  top: 50%;
  left: 50%;
  background: #f4acb7;
}

#main {
  margin: 10px 20px;
}
